@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --red: #d01c28;
  --gray: #2e2e2e;
}

* {
  box-sizing: border-box;
}

.nav-link.active {
  color: #06b6d4;
  border-left: 5px solid #06b6d4;
  padding-left: 10px;
  text-decoration: none;
}

body {
  font-family: "Inter", "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #06b6d4, #3b82f6);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #0891b2, #2563eb);
}

/* Animation delays for staggered effects */
.delay-1000 {
  animation-delay: 1s;
}

.delay-2000 {
  animation-delay: 2s;
}

@media only screen and (max-width: 767px) {
  .big {
    display: none;
  }

  .width {
    margin-left: 0px;
  }

  .size {
    height: 384px;
  }

  .image {
    height: 224px;
  }
}

@media only screen and (min-width: 767px) {
  .small {
    display: none;
  }

  .size {
    height: 224px;
  }

  .width {
    margin-left: 208px;
  }

  .image {

    height: 384px;
  }
}